#navBar .navbuttons{
    cursor:grabbing;
    border-radius: 15%;
    margin-left:210px;
   margin-bottom: 8px;
 font-size: large;
    
    }
#navBar {
    background-color: blueviolet;
 

}
#navBar h1{
    color: aqua;
    text-align: center;
margin-bottom: 30px;
}


#foote{

    background-color: blueviolet;
  
}
#foote h1{ 

    text-align: center;
    margin-top: 410px;
    padding: 20px;

}